/* Styles for Container-1, Container-2, and Container-3 */
.container-1,
.container-2,
.container-3 {
  background-color: #000000;
  width: calc(100% - 40px);
  margin: 20px;
  padding: 50px;
}

/* Styles for Header-One, Header-Two, and Header-Three */
.header-one,
.header-two,
.header-three {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 20px;
  position: relative; /* Add relative positioning to the parent element */
}

.header-one button,
.header-two button,
.header-three button {
  background-color: #6a11f5;
  border-radius: 40px;
  width: 200px;
  height: 80px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  position: relative; /* Add relative positioning to the button */
}

/* Position the .task-button-header on top of .header-one button */
.task-button-header {
  position: relative;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
}

/* Styles for TextBox component */
.textBox {
  color: #ffffff;
}

/* Styles for Lizard image */
.lizard-image {
  width: 670px;
}

/* Styles for Lizard component with frame */
.lizard-box {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 10px solid #e8ebf0;
  text-align: center;
  width: 670px;
}

/* Styles for Avatar component */
.avatar {
  /* Define styles for the Avatar component */
}

/* Styles for Results component */
.results {
  /* Define styles for the Results component */
}

/* Define styles for the ellipse in Results */
.ellipse {
  /* Define styles for the ellipse in Results */
}

/* Styles for ATM component */
.atm {
  /* Define styles for the ATM component */
}

/* Styles for ATM Monitor component */
.atm-monitor {
  /* Define styles for the ATM Monitor component */
}

/* Styles for Description component with frame */
.description {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  width: 670px;
}

description h3 {
  font-size: 24px;
}

description p {
  font-size: 16px;
}
